table {
  border-collapse: collapse;
  border: 1px solid black;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
}

th,
td {
  border: 1px solid black;
  width: 200px;
}

.table-heading {
  padding-top: 10px;
  padding-bottom: 10px;
}

.table-row {
  padding-top: 5px;
  padding-bottom: 5px;
}
